<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/microcms.css" rel="stylesheet">
    <title>Recensement {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/OC/web/home/">Recensement</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.security.token and is_granted('ROLE_USER') %}
                            <li class="{% if adminMenu is defined %}active{% endif %}"><a href="/OC/web/home/">Accueil</a></li>
                        {% endif %}
                        {% if app.security.token and is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" >
                                <span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.security.token.user.username }} </a>
                                    <li><a href="/OC/web/home/user/{{ app.security.token.user.id }}/edit">Profil</a></li>
                                    <li><a href="{{ path('logout') }}">Deconnection</a></li>
                            </li>
                        {% else %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Non connecter <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('login') }}">Log in</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div><!-- /.container -->
        </nav>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer class="footer">
        </footer>
    </div>
    
    <!-- jQuery -->
    <script src="{{ app.request.basepath }}/lib/jquery/jquery-1.11.1.min.js"></script>
    <!-- JavaScript Boostrap plugin -->
    
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
