{% extends 'layout.html.twig' %}
{% set adminMenu = true %}



{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}


    <div id="Tab1" class="container">	
        <ul  class="nav nav-pills nav-justified ">
            <li class="active"><a  href="#etatcivil" data-toggle="tab">Etat Civil</a></li>
            <li><a href="#adresse" data-toggle="tab">Adresse</a></li>
            <li><a href="#filiation" data-toggle="tab">Filiation</a></li>
            <li><a href="#autres" data-toggle="tab">Autres</a></li>
            <li><a href="#recensement" data-toggle="tab">Recensement</a></li>
            <li><a href="#documents" data-toggle="tab">Documents</a></li>

        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="etatcivil">
                {{ form_start(recenseForm, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="form-group">
                    {{ form_label(recenseForm.nom, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(recenseForm.nom) }}
                        {{ form_widget(recenseForm.nom, { 'attr':  {
                        'class': 'form-control'
                        }}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(recenseForm.prenom, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(recenseForm.prenom) }}
                        {{ form_widget(recenseForm.prenom, { 'attr':  {
                        'class': 'form-control',
                        'rows': '8'
                        }}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(recenseForm.nomUsage, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(recenseForm.nomUsage) }}
                        {{ form_widget(recenseForm.nomUsage, { 'attr':  {
                        'class': 'form-control',
                        'rows': '8'
                        }}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(recenseForm.dateNaissance, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(recenseForm.dateNaissance) }}
                        {{ form_widget(recenseForm.dateNaissance, { 'attr':  {
                        'class': 'form-control',
                        'rows': '8'
                        }}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(recenseForm.adresseMail, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(recenseForm.adresseMail) }}
                        {{ form_widget(recenseForm.adresseMail, { 'attr':  {
                        'class': 'form-control',
                        'rows': '8'
                        }}) }}
                    </div>
                </div>
                <!--   ICI  -->
                <div class="form-group">
                    {{ form_label(recenseForm.telephonePortable, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(recenseForm.telephonePortable) }}
                        {{ form_widget(recenseForm.telephonePortable, { 'attr':  {
                        'class': 'form-control',
                        'rows': '8'
                        }}) }}
                    </div>
                </div>
                <!--   ICI  -->
                <div class="form-group">
                    {{ form_label(recenseForm.dateEnregistrement, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(recenseForm.dateEnregistrement) }}
                        {{ form_widget(recenseForm.dateEnregistrement, { 'attr':  {
                        'class': 'form-control',
                        'rows': '8'
                        }}) }}
                    </div>
                </div>
                <!--   ICI  -->
                <div class="form-group">
                    {{ form_label(recenseForm.commune, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(recenseForm.commune) }}
                        {{ form_widget(recenseForm.commune, { 'attr':  {
                        'class': 'form-control',
                        'rows': '8'
                        }}) }}
                    </div>
                </div>
                <!--   ICI  -->
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-3">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
                {{ form_end(recenseForm) }}
            </div>
            
            
            
            <div class="tab-pane" id="adresse">
                 {{ form_start(villesForm, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="form-group">
                    {{ form_label(villesForm.commune, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(villesForm.commune) }}
                        {{ form_widget(villesForm.commune, { 'attr':  {
                        'class': 'form-control',
                        'rows': '8'
                        }}) }}
                    </div>
                </div>
                <!--   ICI  -->
                <div class="form-group">
                    {{ form_label(villesForm.inseeVille, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(villesForm.inseeVille) }}
                        {{ form_widget(villesForm.inseeVille, { 'attr':  {
                        'class': 'form-control',
                        'rows': '8'
                        }}) }}
                    </div>
                </div>
                <!--   ICI  -->
                <div class="form-group">
                    {{ form_label(villesForm.codePostal, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                    }}) }}
                    <div class="col-sm-6">
                        {{ form_errors(villesForm.codePostal) }}
                        {{ form_widget(villesForm.codePostal, { 'attr':  {
                        'class': 'form-control',
                        'rows': '8'
                        }}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-3">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
                {{ form_end(villesForm) }}
            </div>
            <!-- ICI -->
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% endblock %}
