{% extends "layout.html.twig" %}

{% block title %}{{ residence.adresse }}{{% endblock %}

{% block content %}
<p>
    <h2>{{ residence.adresse }}</h2>
    <p>{{ recense.telephone }}</p>

    <h3>Residence</h3>
    {% for residence in residences %}
        <strong>{{ residence.adresse }}</strong> said : {{ recense.telephone }}<br>
    {% else %}
        No residence yet.
    {% endfor %}

</p>
{% endblock %}
