{% extends 'layout.html.twig' %}
{% set adminMenu = true %}



{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="tab-content">
        {{ form_start(Form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(residenceForm.adresse, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(residenceForm.adresse) }}
                {{ form_widget(residenceForm.adresse, { 'attr':  {
                'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(residenceForm.telephone, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(residenceForm.telephone) }}
                {{ form_widget(residenceForm.telephone, { 'attr':  {
                'class': 'form-control',
                'rows': '8'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
        {{ form_end(residenceForm) }}
    </table>
</div>


{% endblock %}
